In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report
import re
import string

In [4]:
data_fake = pd.read_csv('Fake.csv')
data_true = pd.read_csv('True.csv')

In [5]:
data_fake.head()

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"

In [6]:
data_true.head()

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"

In [7]:
data_fake["class"]=0
data_true["class"]=1

In [8]:
data_fake.shape,data_true.shape#for the number of rows x colms

((23481, 5), (21417, 5))

In [9]:
#dropping the last 10 rows for testing
data_fake_manual_testing = data_fake.tail(10)
for i in range(23480,23470,-1):
    data_fake.drop([i], axis = 0, inplace = True)

data_true_manual_testing = data_true.tail(10)
for i in range(21416,21406,-1):
    data_true.drop([i], axis = 0, inplace = True)

In [10]:
data_fake.shape, data_true.shape

((23471, 5), (21407, 5))

In [11]:
data_fake_manual_testing["class"]=0
data_true_manual_testing["class"]=1

<ipython-input-11-b0056e2a4ec9>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_fake_manual_testing["class"]=0
<ipython-input-11-b0056e2a4ec9>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_true_manual_testing["class"]=1

In [12]:
data_fake_manual_testing.head(10)

,title,text,subject,date,class
23471,Seven Iranians freed in the prisoner swap have...,"21st Century Wire says This week, the historic...",Middle-east,"January 20, 2016",0
23472,#Hashtag Hell & The Fake Left,By Dady Chery and Gilbert MercierAll writers ...,Middle-east,"January 19, 2016",0
23473,Astroturfing: Journalist Reveals Brainwashing ...,Vic Bishop Waking TimesOur reality is carefull...,Middle-east,"January 19, 2016",0
23474,The New American Century: An Era of Fraud,Paul Craig RobertsIn the last years of the 20t...,Middle-east,"January 19, 2016",0
23475,Hillary Clinton: ‘Israel First’ (and no peace ...,Robert Fantina CounterpunchAlthough the United...,Middle-east,"January 18, 2016",0
23476,McPain: John McCain Furious That Iran Treated ...,21st Century Wire says As 21WIRE reported earl...,Middle-east,"January 16, 2016",0
23477,JUSTICE? Yahoo Settles E-mail Privacy Class-ac...,21st Century Wire says It s a familiar theme. ...,Middle-east,"January 16, 2016",0
23478,Sunnistan: US and Allied ‘Safe Zone’ Plan to T...,Patrick Henningsen 21st Century WireRemember ...,Middle-east,"January 15, 2016",0
23479,How to Blow $700 Million: Al Jazeera America F...,21st Century Wire says Al Jazeera America will...,Middle-east,"January 14, 2016",0
23480,10 U.S. Navy Sailors Held by Iranian Military ...,21st Century Wire says As 21WIRE predicted in ...,Middle-east,"January 12, 2016",0

In [13]:
data_true_manual_testing.head(10)

,title,text,subject,date,class
21407,"Mata Pires, owner of embattled Brazil builder ...","SAO PAULO (Reuters) - Cesar Mata Pires, the ow...",worldnews,"August 22, 2017",1
21408,"U.S., North Korea clash at U.N. forum over nuc...",GENEVA (Reuters) - North Korea and the United ...,worldnews,"August 22, 2017",1
21409,"U.S., North Korea clash at U.N. arms forum on ...",GENEVA (Reuters) - North Korea and the United ...,worldnews,"August 22, 2017",1
21410,Headless torso could belong to submarine journ...,COPENHAGEN (Reuters) - Danish police said on T...,worldnews,"August 22, 2017",1
21411,North Korea shipments to Syria chemical arms a...,UNITED NATIONS (Reuters) - Two North Korean sh...,worldnews,"August 21, 2017",1
21412,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,"August 22, 2017",1
21413,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,"August 22, 2017",1
21414,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,"August 22, 2017",1
21415,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,"August 22, 2017",1
21416,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017",1

In [14]:
data_merge = pd.concat([data_fake,data_true], axis = 0)
data_merge.head(10)

,title,text,subject,date,class
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0
5,Racist Alabama Cops Brutalize Black Boy While...,The number of cases of cops brutalizing and ki...,News,"December 25, 2017",0
6,"Fresh Off The Golf Course, Trump Lashes Out A...",Donald Trump spent a good portion of his day a...,News,"December 23, 2017",0
7,Trump Said Some INSANELY Racist Stuff Inside ...,In the wake of yet another court decision that...,News,"December 23, 2017",0
8,Former CIA Director Slams Trump Over UN Bully...,Many people have raised the alarm regarding th...,News,"December 22, 2017",0
9,WATCH: Brand-New Pro-Trump Ad Features So Muc...,Just when you might have thought we d get a br...,News,"December 21, 2017",0

In [15]:
data_merge.columns

Index(['title', 'text', 'subject', 'date', 'class'], dtype='object')

In [16]:
#removing the unnecessary colms
data = data_merge.drop(['title','subject','date'], axis = 1)

In [17]:
data.isnull().sum()

text     0
class    0
dtype: int64

In [18]:
#shuffling the dataset
data = data.sample(frac = 1)

In [19]:
data.head()

                                                    text  class
13368  Hillary s lawless, anti-American supporters we...      0
7314   The Republicans have given us a lot of  WTF  m...      0
9460   CHICAGO (Reuters) - The Illinois Senate on Thu...      1
3523   WASHINGTON (Reuters) - Facebook (FB.O), Amazon...      1
7543   WASHINGTON (Reuters) - Several intriguing scen...      1

In [20]:
data.reset_index(inplace = True)
data.drop(['index'], axis = 1, inplace = True)

In [21]:
data.columns

Index(['text', 'class'], dtype='object')

In [22]:
data.head()

                                                text  class
0  Hillary s lawless, anti-American supporters we...      0
1  The Republicans have given us a lot of  WTF  m...      0
2  CHICAGO (Reuters) - The Illinois Senate on Thu...      1
3  WASHINGTON (Reuters) - Facebook (FB.O), Amazon...      1
4  WASHINGTON (Reuters) - Several intriguing scen...      1

In [23]:
#removing special characters
def wordopt(text):
    text = text.lower()
    text = re.sub('\[.*?\]', '', text)
    text = re.sub("\\W", " ", text)
    text = re.sub('https?://\S+|www\.\S+', '', text)
    text = re.sub('<.*?>+', '', text)
    text = re.sub('[%s]' % re.escape(string.punctuation), '', text)
    text = re.sub('\w*\d\w*', '', text)
    return text

In [24]:
data['text'] = data['text'].apply(wordopt)

In [25]:
x = data['text']
y = data['class']

In [26]:
#splitting data into training and testing
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size = 0.25)

In [27]:
#converting text to vectors
from sklearn.feature_extraction.text import TfidfVectorizer
vectorization = TfidfVectorizer()
xv_train = vectorization.fit_transform(x_train)#learning and applying tfidf
xv_test = vectorization.transform(x_test)#applying the learned tfidf on test data

In [28]:
#for linear  regression
from sklearn.linear_model import LogisticRegression
LR = LogisticRegression()
LR.fit(xv_train, y_train)

LogisticRegression()

In [29]:
pred_lr = LR.predict(xv_test)

In [30]:
#checking accuracy
LR.score(xv_test, y_test)

0.9869875222816399

In [31]:
print(classification_report(y_test, pred_lr))

              precision    recall  f1-score   support

           0       0.99      0.99      0.99      5832
           1       0.99      0.99      0.99      5388

    accuracy                           0.99     11220
   macro avg       0.99      0.99      0.99     11220
weighted avg       0.99      0.99      0.99     11220

In [32]:
#for decision tree classification
from sklearn.tree import DecisionTreeClassifier
DT = DecisionTreeClassifier()
DT.fit(xv_train, y_train)

DecisionTreeClassifier()

In [33]:
pred_dt = DT.predict(xv_test)

In [34]:
DT.score(xv_test, y_test)

0.9959001782531194

In [35]:
print(classification_report(y_test, pred_dt))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00      5832
           1       1.00      1.00      1.00      5388

    accuracy                           1.00     11220
   macro avg       1.00      1.00      1.00     11220
weighted avg       1.00      1.00      1.00     11220

In [36]:
# for Gradient Boosting Classifier
from sklearn.ensemble import GradientBoostingClassifier
GB = GradientBoostingClassifier(random_state = 0)
GB.fit(xv_train, y_train)

GradientBoostingClassifier(random_state=0)

In [37]:
pred_gb = GB.predict(xv_test)

In [38]:
GB.score(xv_test, y_test)

0.9959001782531194

In [39]:
print(classification_report(y_test, pred_gb))

              precision    recall  f1-score   support

           0       1.00      0.99      1.00      5832
           1       0.99      1.00      1.00      5388

    accuracy                           1.00     11220
   macro avg       1.00      1.00      1.00     11220
weighted avg       1.00      1.00      1.00     11220

In [40]:
from sklearn.ensemble import RandomForestClassifier

RF = RandomForestClassifier(random_state = 0)
RF.fit(xv_train, y_train)

RandomForestClassifier(random_state=0)

In [41]:
pred_rf = RF.predict(xv_test)

In [42]:
RF.score(xv_test, y_test)

0.9888591800356507

In [43]:
print(classification_report(y_test, pred_rf))

              precision    recall  f1-score   support

           0       0.99      0.99      0.99      5832
           1       0.99      0.99      0.99      5388

    accuracy                           0.99     11220
   macro avg       0.99      0.99      0.99     11220
weighted avg       0.99      0.99      0.99     11220

In [44]:
def output_lable(n):
    if n == 0:
        return "fake News"
    elif n == 1:
        return "Not a fake news"

def manual_testing(news):
    testing_news = {"text":[news]}
    new_def_test = pd.DataFrame(testing_news)
    new_def_test["text"] = new_def_test["text"].apply(wordopt)
    new_x_test = new_def_test["text"]
    new_xv_test = vectorization.transform(new_x_test)
    pred_LR = LR.predict(new_xv_test)
    pred_DT = DT.predict(new_xv_test)
    pred_GB = GB.predict(new_xv_test)
    pred_RF = RF.predict(new_xv_test)
    
    return print("\n\nLR Prediction: {} \nDT Prediction: {} \nGB Prediction: {} \nRF Prediction: {}".format(output_lable(pred_LR[0]),
                                                                                                            output_lable(pred_DT[0]),
                                                                                                            output_lable(pred_GB[0]),
                                                                                                            output_lable(pred_RF[0])))

In [45]:
news = str(input())
manual_testing(news)

The leaders of Vietnam and Russia have said they want to boost ties as the pair met in the Vietnamese capital of Hanoi. Vietnamese President To Lam was full of praise for his Russian counterpart, Vladimir Putin, congratulating him on his recent re-election. Mr Putin, in return, said strengthening a strategic partnership with the south-east Asian country was one of Russia's priorities. His trip to Vietnam, which comes on the heels of his lavish visit to North Korea, is being interpreted as a demonstration of the diplomatic support Russia still enjoys in the region. "Congratulations to our comrade for receiving overwhelming support during the recent presidential election, underlining the confidence of the Russian people," President Lam said after Mr Putin was given a red carpet welcome. The United States has criticised the visit for giving a platform for President Putin to promote his war of aggression in Ukraine. Vietnam still values the historic ties it has with Russia even as it works to improve its relationship with Europe and the US. Looming over a small park in Ba Dinh, Hanoi’s political quarter, a five-meter high statue of Lenin depicts the Russian revolutionary in heroic pose. On his birthday every year a delegation of senior Vietnamese officials solemnly lay flowers and bow their heads before the statue, a gift from Russia when it was still the Soviet Union. Vietnam’s ties to Russia are close and go back many decades, to the vital military, economic and diplomatic support given by the Soviet Union to the new communist state in North Vietnam in the 1950s. Vietnam has described their relationship as "filled with loyalty and gratitude". After Vietnam invaded Cambodia in 1978 to throw out the murderous Khmer Rouge regime, it was isolated and sanctioned by China and the West, and depended heavily on Soviet assistance. Many older Vietnamese, including the powerful communist party secretary-general Nguyen Phu Trong, studied in Russia and learned the language. Today Vietnam’s economy has been transformed by its integration into global markets. Russia has fallen far behind China, Asia, the US and Europe as a trading partner. But Vietnam still uses mainly Russian-made military equipment, and relies on partnerships with Russian oil companies for oil exploration in the South China Sea.


LR Prediction: Not a fake news
DT Prediction: fake News
GB Prediction: fake News
RF Prediction: Not a fake news

In [46]:
news = str(input())
manual_testing(news)

Gov. Jeff Landry signed legislation on Wednesday requiring the display of the Ten Commandments in every public classroom in Louisiana, making the state the only one with such a mandate and reigniting the debate over how porous the boundary between church and state should be.  Critics, including the American Civil Liberties Union and the Freedom From Religion Foundation, vowed a legal fight against the law they deemed “blatantly unconstitutional.” But it is a battle that proponents are prepared, and in many ways, eager, to take on.  “I can’t wait to be sued,” Mr. Landry said on Saturday at a Republican fund-raiser in Nashville, according to The Tennessean. And on Wednesday, as he signed the measure, he argued that the Ten Commandments contained valuable lessons for students.  “If you want to respect the rule of law,” he said, “you’ve got to start from the original law giver, which was Moses.”  The legislation is part of a broader campaign by conservative Christian groups to amplify public expressions of faith, and provoke lawsuits that could reach the Supreme Court, where they expect a friendlier reception than in years past. That presumption is rooted in recent rulings, particularly one in 2022 in which the court sided with a high school football coach who argued that he had a constitutional right to pray at the 50-yard line after his team’s games.  “The climate is certainly better,” said Charles C. Haynes, a senior fellow at the Freedom Forum and a scholar with an expertise in religious liberty and civil discourse, referring to the viewpoint of those who support the legislation.  Still, Mr. Haynes said that he found the enthusiasm behind the Louisiana law and other efforts unwarranted. “I think they are overreaching,” he said, adding that “even this court will have a hard time justifying” what lawmakers have conceived.


LR Prediction: Not a fake news
DT Prediction: fake News
GB Prediction: fake News
RF Prediction: fake News